body {
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

#bg {
    width: 100%;
    height: 100%;
    background-image: url('lunch_weekly.png');
}

#day {
    height: 750px;
    width: 150px;
    position: absolute;
    left: 80px;
    top: 250px;
}

#lunch1 {
    height: 750px;
    width: 630px;
    position: absolute;
    left: 250px;
    top: 200px;
    text-align: right !important;
}

#price1 {
    height: 750px;
    width: 150px;
    position: absolute;
    left: 900px;
    top: 200px;
}

#lunch2 {
    height: 750px;
    width: 600px;
    position: absolute;
    left: 1100px;
    top: 200px;
    text-align: right !important;
}

#price2 {
    height: 750px;
    width: 150px;
    position: absolute;
    left: 1730px;
    top: 200px;
}

h1 {
    font-size: 40px;
    color: white;
    margin-top: 5px;
}

.price {
    text-align: center;
    color: bisque;
    margin-bottom: 86px;
}

.price-empty {
    opacity: 0%;
    text-align: center;
    color: bisque;
    margin-bottom: 86px;
}

.weekday {
    text-align: left;
    margin-bottom: 86px;
}

.gericht {
    width: 100%;
    height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: min(50px, 30px) !important;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

#stGericht{
    width: 1450px !important;
}

#stPreis{
    left: 1730px !important;
}

