{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in active_listings %}
    <a href="{% url 'detailview' listing_id=listing.id %}">
        <div class="index-listing">
            <h4 class="index-listing-h4">{{ listing.title }}</h4>
            {% if listing.image %}
            <img class="index-listing-img" src="{{ listing.image }}">
            {% endif %}
            Price: {{ listing.formatted_price }} <br>
            Seller: {{ listing.seller }}
                <div class="index-listing-innerdiv">
                    {{ listing.description }}
                </div>
        </div>
    </a>
    {% endfor %}
    
{% endblock %}