{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<br>
<div class="display-form">
    {% if user.is_authenticated %}
    <h2>make a Post</h2>
    <form method="POST">
        {% csrf_token %}
        {{ PostForm.content }}
        <input type="submit" value="Post">
    </form>
    {% endif %}
    <br>
</div>
<div id="display-user">
    
    
</div>
<br>
<div id="display-posts">
    <h2 id="post-kind"></h2>
    <nav aria-label="Page navigation example">
        <ul id="pagination1" class="pagination">
        </ul>
      </nav>
    <div id="post-area">
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'network/scripts.js'%}"></script>
{% endblock %}