html {
    padding: 10px 20px;
}

.posts {
    border: 1px solid black;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px 10px;
}

.but_ed {
    margin: 0px 10px;
}

textarea {
    max-height: 100px;
}