body {
    padding: 10px;
}

.index-listing {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 700px;
    margin: 20px 10px;
    padding: 10px 10px;
    background-color: rgba(0,0,0,0.05);
    border-radius: 20px;
}

.index-listing-h4 {
    flex: 1;
    flex-basis: 100%;
}

.index-listing-img {
    max-width: 100px;
    max-height: 100px;
}

.index-listing-innerdiv {
    overflow-wrap: break-word;
    white-space: normal;
    overflow: hidden;
    max-width: 700px;
    max-height: 100px;
    flex: 1;
    flex-basis: 100%;
}

.watched {
    background-color: rgba(19, 81, 148, 0.368);
    border-radius: 20px;
    display: inline-block;
    padding: 5px 10px;
    margin: 20px 10px;
}

.description {
    margin: 20px 10px;
}

.price {
    font-size: larger;
    font-weight: bold;
    margin: 20px 10px;
}

.comment {
    background-color: rgba(19, 81, 148, 0.368);
    border-radius: 20px;
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 10px;
    max-width: 500px;
    overflow-wrap: break-word;
    white-space: normal;
}