body {
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

#bg {
    width: 100%;
    height: 100%;
    background-image: url('breakfast.png');
}

#content {
    height: 600px;
    width: 1200px;
    position: absolute;
    left: 600px;
    top: 350px;
}

h1 {
    color: white;
    font-size: 90px;
    margin-top: 0;
    margin-bottom: 2px;
}

h2 {
    color: white;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 2px;
}

.price{
    text-align: right;
    margin-bottom: 10px !important;
}







