html {
    font-family: Arial, sans-serif;
    color: rgb(72, 72, 72, 1);
}

form {
    width: 100%;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

a {
    margin: 20px;
    text-decoration: none;
    color: rgb(72, 72, 72);
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    text-align: left;
    vertical-align: middle;
    padding: 10px 0;
    height: 30px;
}

td {
    font-size: 13px;
}

th {
    font-weight: normal;
}

#links {
    margin-right: 20px;
}

#google-img{
    width: 100%;
    max-width: 70px;
    margin-bottom: 20px;
    margin-top: -20px;
}

#headline {
    color: #EA4335;
    margin: 40px 40px 20px;
    font-size: larger;
}

#search {
    margin: 40px;
    width: 100%;
    max-width: 1300px;
}

#submit {
    text-align: right;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.divider {
    width: 100%;
    margin: 0;
    border: none;
    height: 1px;
    background-color: rgb(72, 72, 72, 0.2);
}

.txt-ipt {
    width: 100%;
    max-width: 600px;
    height:25px;
    border: 1px solid rgba(78, 78, 78, 1);
    outline: none;
    color: black;
}

.txt-ipt:hover, .txt-ipt:focus {
    box-shadow: inset 0 0 3px 1px rgba(78, 78, 78, 0.5);
    border: 1px solid rgba(66, 133, 244, 1);
}

.first-tc {
    width: 200px;
}

.sec-tc {
    width: auto;
}

.trd-tc {
    width: 480px;
    padding-left: 20px;
}

.search-btn {
    height: 37px;
    border: none;
    background-color: rgba(66, 133, 244, 1);
    padding: 0 20px;
    line-height: 37px;
    margin: 10px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
}

.search-btn:hover {
    box-shadow: inset 0 0 3px 1px rgba(78, 78, 78, 1);
}

@media (max-width: 700px) {
    table, tr {
        display: block;
    }
    
    tr {
        margin-bottom: 10px;
    }

    td {
        display: block;
        text-align: left;
        width: 100%;
        box-sizing: border-box;
    }

    .trd-tc {
        display: none;
    }
}